
html{
  width: 100%;
  height: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(40deg, #48355B 0%,#91BEF3 100%);
}
body{
  background: rgb(2,0,36)!important;
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(1,193,243,1) 98%, rgba(0,212,255,1) 100%)!important;
}

#progress {
  margin: 20px;
  width: 200px;
  height: 100px;
}
.d-flex{
  display: flex;
} 
.justify-content-between{
justify-content: space-between;
}
.bg-white{
  background-color: white;
}
.mt-30{
  margin-top: 250px;
  background-color: white;
}
.card-future{
  background-color: rgba(255, 255, 255, 0.5);
}
.news{
  background-color: white;
}
a{
  text-decoration: none!important;
}
u{
  text-decoration: none!important;
}
.ml-50{
  margin-left: 150px;
}
.css-dip3t8{
  background-color: rgb(245, 239, 239)!important;
}
.mt-modif{
  margin-top: 4rem!important;
}
.mt-im{
  margin-top: -280px!important;
  margin-left: -50px!important;
}
.ml-md{
  margin-left: 250px;
}